@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap");

.brand-title h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 70px;
  font-weight: 100;
}

.wrapper-brand {
  display: flex;
  padding: 40px 35px;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.wrapper-brand .carousel-brand {
  place-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 10px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel-brand::-webkit-scrollbar {
  display: none;
}
.carousel-brand.no-transition {
  scroll-behavior: auto;
}
.carousel-brand.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel-brand.dragging .card-brand {
  cursor: grab;
  user-select: none;
}
.carousel-brand :where(.card-brand, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-brand .card-brand {
  scroll-snap-align: start;
  list-style: none;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 50px;
}

.carousel-brand .card-brand h2 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 3rem;
  color: #ff8019;
  font-style: italic;
  padding-top: 10px;
  text-align: end;
}
.carousel-brand .card-brand span {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #ff8019;
  font-size: 1.5rem;
}

.card-brand .reuse {
  border: #ff8019 10px solid;
  text-align: end;
  border-radius: 45px;
  height: 200px;
  width: 400px;
  padding-right: 10px;
}

.card-brand img {
  border: #ff8019 10px solid;
  border-radius: 45px;
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 1024px) {
  .wrapper-brand .carousel-brand {
    grid-auto-columns: calc((100% / 2) - 20px);
  }
}
@media screen and (max-width: 768px) {
  .wrapper-brand .carousel-brand {
    grid-auto-columns: 100%;
  }
}
