@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap");

.scroller2 {
  display: grid;
  place-content: start;
  margin-bottom: 100px;
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
}

.scroller2[data-animated="true"] {
  overflow: hidden;
}

.scroller2[data-animated="true"] .scroller__inner {
  flex-wrap: nowrap;
  animation: scroll-2 var(--_animation-duration, 50s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller2[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller2[data-speed="slow"] {
  --_animation-duration: 50s;
}

.scroller2 img {
  border: #ff8019 10px solid;
  border-radius: 45px;
  height: 200px;
  width: 200px;
}

.scroller2 h2 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 3rem;
  color: #ff8019;
  font-style: italic;
  padding-top: 10px;
}

.scroller2 span {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #ff8019;
  font-size: 1.5rem;
}

.scroller2 .box-content {
  border: #ff8019 10px solid;
  border-radius: 45px;
  height: 200px;
  width: 400px;
  padding-left: 10px;
}

@keyframes scroll-2 {
  to {
    transform: translate(calc(-50% + 10rem));
  }
}
