@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap");

.advice {
  position: relative;
  height: 1500px;
}

.advice-title h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 70px;
  font-weight: 100;
}

.advice-content {
  display: flex;
  max-width: 1440px;
  width: 100%;
}

.advice-content-tl {
  position: relative;
}

.advice-content-tr {
  position: relative;
}

.advice-content-bl {
  position: relative;
}

.advice-content-br {
  position: relative;
}

@media screen and (min-device-width: 1025px) {
  .tb,
  .mb {
    display: none;
  }
}

@media only screen and (max-device-width: 1024px) {
  .pc,
  .mb {
    display: none;
  }

  .advice {
    height: 1000px;
  }

  .advice-title h1 {
    font-size: 50px;
    font-weight: 100;
  }
}

@media screen and (max-device-width: 768px) {
  .advice-content .pc,
  .advice-content .tb {
    display: none;
  }
  .advice {
    height: 1000px;
  }

  .advice-title h1 {
    font-size: 30px;
    font-weight: 100;
  }
}

@keyframes advice-scroll-1 {
  100% {
    top: 200px;
    right: -900px;
  }
}

@keyframes advice-scroll-2 {
  100% {
    transform: rotate(-40deg);
    top: 200px;
    right: -1200px;
  }
}

@keyframes advice-scroll-3 {
  100% {
    transform: rotate(0deg);
    top: 600px;
    right: -1200px;
  }
}

@keyframes advice-scroll-4 {
  100% {
    transform: rotate(90deg);
    top: 600px;
    right: -750px;
  }
}

@keyframes advice-scroll-5 {
  100% {
    transform: rotate(-30deg);
    top: 800px;
    right: -1000px;
  }
}

@keyframes advice-scroll-6 {
  100% {
    transform: rotate(30deg);
    top: 350px;
    right: -800px;
  }
}

@keyframes advice-scroll-7 {
  100% {
    transform: rotate(-30deg);
    top: 600px;
    right: -800px;
  }
}

@keyframes advice-scroll-8 {
  100% {
    transform: rotate(30deg);
    top: 500px;
    right: -600px;
  }
}

@keyframes advice-scroll-9 {
  100% {
    transform: rotate(45deg);
    top: 600px;
    right: -600px;
  }
}
