@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap");

.scroller {
  display: grid;
  place-content: start;
  margin-bottom: 50px;
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.scroller[data-animated="true"] {
  overflow: hidden;
}

.scroller[data-animated="true"] .scroller__inner {
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 50s)
    var(--_animation-direction, rev) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 50s;
}

.scroller img {
  border: #009354 10px solid;
  border-radius: 45px;
  height: 200px;
  width: 200px;
}

.scroller h2 {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 3rem;
  color: #009354;
  font-style: italic;
  padding-top: 10px;
}

.scroller span {
  font-family: "Be Vietnam Pro", sans-serif;
  color: #009354;
  font-size: 1.5rem;
}

.scroller .box-content {
  border: #009354 10px solid;
  border-radius: 45px;
  height: 200px;
  width: 400px;
  padding-left: 10px;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% + 1rem));
  }
}
